.revealBlock{
    opacity: 0;
    transform: translateX(-30px);
}

.revealBlock-visible{
    opacity: 1;
    transform: translateX(0);
    transition: 1s cubic-bezier(.5, 0, .0, 1);
}

.revealText{
    opacity: 0;
    transform: translateY(20px);
}

.revealText-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, .0, 1);
}

.revealWidth{
    width: 0 !important;
}

.revealWidth-visible{
    width: auto;
    transition: 1s cubic-bezier(.5, 0, .0, 1);
}

.revealBtn{
    opacity: 0;
    transform: translateY(30px);
}

.revealBtn-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, .0, 1);
}